.editor_container {
    position: relative;
    min-height: 500px;
    overflow: scroll;
}

.editor_textarea {
    font-family: monospace;
    font-size: 0.7rem;
    line-height: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 0;
    color: transparent;
    caret-color: white;
    background-color: #0e0419;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    bottom: 0;

    border: 0;
    outline: 0;
    overflow: hidden;
}

.editor_draw {
    font-family: monospace;
    font-size: 0.7rem;
    line-height: 1.3rem;
    position: absolute;
    padding: 5px;
    margin: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    white-space: break-spaces;
}

code {
    font-family: monospace;
}

.editor_span {
    padding: 0;
    margin: 0;
}

.parsed_FUNC_CALL {
    color: #7875fc;
}

.parsed_COMMENT {
    color: #ffffff3d;
}

.parsed_KEYWORD {
    color: #d56d0c;
}