body {
    background-color: #112;
    font-family: sans-serif;
    color: #eef;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
}

a {
    color: #ffc;
}

a:focus {
    background-image: linear-gradient(to bottom right, #ccc 0%, #ffc 100%);
    color: black;
    border-radius: 2px;
    outline: 1px solid #ffc;
    outline-offset: 2px;

    /* Makes the element appear above others. */
    position: relative;
}

button {
    color: #dde;
    border: 1px solid #557;
    border-radius: 2px;
    background-image: linear-gradient(to bottom right, #334 0%, #336 100%);
    padding: 5px;
}

button:focus {
    outline: 1px solid #aa8;
    background-image: linear-gradient(to bottom right, #334 0%, #663 100%);
    outline-offset: 2px;

    /* Makes the element appear above others. */
    position: relative;
}

button:hover {
    background-color: #445;
    border: 1px solid #779;
}

input {
    background-color: #334;
    color: #ddf;
    border: 1px solid #556;
    border-radius: 2px;
}

input:focus {
    outline: 1px solid #aa8;
    outline-offset: 2px;
}

::selection {
  background: #aa8; /* WebKit/Blink Browsers */
  color: black;
}

hr {
    height: 1px;
    background-color: #334;
    border: none;
}
