body {
    background-color: #112;
    font-family: sans-serif;
    color: #eef;
    line-height: 1.4em;
}

a {
    color: #ffc;
}

a:focus {
    background-image: linear-gradient(to bottom right, #ccc 0%, #ffc 100%);
    color: black;
    border-radius: 2px;
    outline: 1px solid #ffc;
    outline-offset: 2px;

    /* Makes the element appear above others. */
    position: relative;
}

button {
    color: #dde;
    border: 1px solid #557;
    border-radius: 2px;
    background-image: linear-gradient(to bottom right, #334 0%, #336 100%);
    padding: 5px;
}

button:focus {
    outline: 1px solid #aa8;
    background-image: linear-gradient(to bottom right, #334 0%, #663 100%);
    outline-offset: 2px;

    /* Makes the element appear above others. */
    position: relative;
}

button:hover {
    background-color: #445;
    border: 1px solid #779;
}

input {
    background-color: #334;
    color: #ddf;
    border: 1px solid #556;
    border-radius: 2px;
}

input:focus {
    outline: 1px solid #aa8;
    outline-offset: 2px;
}

::selection {
  background: #aa8; /* WebKit/Blink Browsers */
  color: black;
}

hr {
    height: 1px;
    background-color: #334;
    border: none;
}

main {
    max-width: 800px;
}

/* Page specifics */

#editor {
    margin-top: 10px;
}

#mousepad {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: #fff1;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 3px 5px;
    border: 1px solid #557
}

header > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

header > h1 {
    position: relative;
}

header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    border-bottom: 1px solid #557;
    margin-bottom: 20px;
}

.editor_container {
    position: relative;
    min-height: 500px;
    overflow: scroll;
    border: 1px solid orange;
}

.editor_textarea {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 0;
    color: transparent;
    caret-color: white;
    background-color: #ffffff11;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;

    border: 0;
    outline: 0;
    overflow: hidden;
}

.editor_draw {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.3rem;
    position: absolute;
    padding: 5px;
    margin: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    white-space: break-spaces;
}

code {
    font-family: monospace;
}

.editor_span {
    padding: 0;
    margin: 0;
}

.editor_keyword {
    color: #7875fc;
}